.card-title {
  padding: 10px;
  margin-bottom: 3px;
  background-color: #eee;
  width: 87%;
  float: left;
}

.card-x {
  padding: 10px;
  margin-bottom: 3px;
  background-color: #ddd;
  float: left;
  cursor: pointer;
}

.card-x:hover {
  background-color: red;
  color: white;
}
